.book-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCC9C0;
    width: 100%;
    height: 100%;
    position: absolute;

}

.book-cover-and-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 65%;
    height: 60%;
    border-radius: 10px;

}

.book-info {
    border-radius: 10px;
    background-color: #FFF2DF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 100%;
}

.book-info-title-and-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
}

.book-info-rating-star {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    margin-left: 100px;
}

.book-info-star {
    color: gold;
}

.line-separator {
    background-color: #F2E1E1;
    height: 100%;
    width: 10px;
    border-radius: 20px;
}

.book-info-title {
    font-size: 28px;
    font-weight: bold;
    font-family: Poppins;
}

.book-info-description {
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
}

.book-info-authors {
    /* padding-left: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book-info-authors p {
    gap: 10px;
}

.book-info-categories {
    /* padding-left: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book-info-categories p {
    gap: 10px;
}
.book-info-poster {
    height: 100%;
    border-radius: 10px;
    float: left;
    /* width: 250px; */
}
.book-info-authors-pages-categories {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-top: 50px;

}